:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
  --main-bg-color: #ffffff;
  --gold-detail: #eeb224;
  --navbar-green:  #558f5d;
  --standard-border: #b9b6a9 1px solid;
  --standard-box-radius: -2px 2px 1px #d4d3d1;
}

.body {
  background-color:rgb(35, 40, 62)
}

.clickable:hover {
  cursor: pointer;
}

.welcome-page-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-evenly;
}

/* AUTH */

.welcome-page-auth-forms {
  padding:3rem;
  width: 40%;
  max-width:600px;
  margin-left:4rem;
}

.welcome-page-hline {
  max-width: 275px;
}

.welcome-page-information {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
}

.sign-up-container,
.login-container {
  padding:3rem 0rem;
  max-width: 275px;
}

.sign-up-first-name-input,
.sign-up-last-name-input,
.sign-up-username-input,
.sign-up-email-input,
.sign-up-password-input,
.login-username-input,
.login-password-input {
  margin-bottom:1rem;
}
.signup-error {
  height: 2rem;
}

.welcome-info-box {
  opacity: 0%;
  animation: fadein 2s linear forwards;
  animation-delay: 2s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


@keyframes fadein {
  0% { opacity: 0; }
  100% {opacity:1;}
}

.welcome-page-welcome {
  opacity: 100%;
  animation: fadeout 1s linear forwards;
  animation-delay:.5s
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% {opacity:0;}
}

.welcome-message {
  max-width: 400px;
  text-overflow: wrap;
}

/* NAVBAR */

.navbar-container {
  display: flex;
  background-color: var(--navbar-green);
  justify-content: center;
  position: sticky;
  top: 0;
}

.navbar-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  width:100%;
  max-width: 1500px;
  height: 5rem;
}

.nav-link {
  display: flex;
  color:#282c34;
  text-decoration: none;
  padding: 1rem;
  font-weight:500;
  margin: 0.25rem;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  background-color: var(--gold-detail);
  text-decoration: none;
}

.logout-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logout-button {
  width:10rem;
  height: 60%;
  margin: 0rem 1rem;
  width: 100px;
}

.nav-username {
  font-style: italic;
  font-weight: 200;
}


.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

/* HOME CALENDAR PAGE */
.home-calendar-switch {
  width: 100%;
}

.home-calendar-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-calendar-container {
  width: 100%;
  max-width: 1400px;
}

tr[role='row'] {
  max-height:100px;
}

/* PRODUCTIONS PAGE */
.productions-page-container {
  display: flex;
  flex-direction: column;
  height:fit-content;
}

.productions-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0rem;
}

.new-production-input {
  width: 100%;
}

/* .productions-header {
  margin:1rem 0rem;
} */

.productions-list-container {
  height: fit-content;
}

.productions-list {
  list-style: none;
  padding-left: 0;
}

.production-tile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: var(--standard-border);
  border-radius:10px;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  max-height:10rem;
  overflow-y:hidden;
}

.production-tile-title {
  width: 30%;
  overflow: auto;
  font-weight:200;
}

.production-tile-notes-preview {
  width: 30%;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.production-tile-dates {
  width:30%;
}

/* PRODUCTION DETAIL */
.core-crew-modal > div >div{
  width:700px;
}

.core-crew-list-container {
  border: var(--standard-border);
  border-radius: 10px;
  margin: 2rem 0rem;
  padding: .5rem;
}

.role-list-container {
  position:absolute;
  max-height: 150px;
  background:#dce0e8;
  border:#282c34 solid 1px;
  border-radius: 3px;
  overflow: auto;
  z-index: 1;
  list-style-type: none
}
.role-list {
  list-style-type: none;
  margin: .5rem;
  padding: 0rem
}

.core-crew-outer-list {
  list-style: none;
  padding-left:0rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.specific-role-name {
  margin:0.5rem 0rem;
  font-style:normal;
  font-weight:600;
}

.specific-role-list {
  list-style-type:none;
}

.crew-name {
  margin-bottom:0;
}

.add-core-crew-row {
  height:2.5rem;
}

.add-core-crew-position {
  width: 20rem;
}

.add-core-crew-name {
  width: 30rem;
}

.core-crew-search-input {
  height:70%;
  width:90%;
}


/* .production-tile-title {

} */

.production-detail-page-container {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.production-detail-page-left {
  width: 20%;
}

.production-detail-page-info {
  border: var(--standard-border);
  box-shadow: -2px 2px 1px #d4d3d1;
  border-radius: 10px;
  margin: 4rem 0rem 2rem 0rem;
  padding: 1rem;
}

.production-detail-page-title {
  padding-bottom:2rem;
  font-style: italic;
}

.production-detail-adding-dates-container {
  height:5rem;
}

.adding-dates-submit-button {
  margin-right: .5rem;
}

.delete-production-button-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0rem;
}

.confirm-delete-button {
  margin-right: .5rem
}


.production-detail-page-calendar {
  /* border-left:solid #b9b6a9 1px;
  padding-left: 3rem; */
  padding-top: 2rem;
  width: 75%;
}

/* SHOOTDAY PAGES */

.shootday-page {
  width: 100%;
  max-width: 1200px;
}

.shootday-page-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .shootday-page-info-left-side {

} */

.shootday-page-info-right-side {
  margin:1rem 3rem 0rem 0rem;
  width: 40%
}


.shootday-name-and-back {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem
}

.shootday-production-name {
  margin:.25rem 0rem 0rem 2rem;
  font-style:italic;
  font-weight:200
}

.shootday-date-and-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shootday-date {
  margin: 1rem 2rem;
}

.shootday-page-info-location {
  margin-bottom: 1rem
}

.location-edit-input {
  height:2rem;
  width:60%;
}

.location-edit-icon {
  font-size:16px;
  margin: .25rem .5rem;
}

.delete-shootday-button-area {
  display: flex;
  flex-direction: row;
  margin: 1rem 0rem;
}

.confirm-shootday-delete-button {
  margin-right: .5rem
}


.shootday-notes-container {
  padding:1rem;
  border: var(--standard-border);
  border-radius: 1px;
  border-radius: 5px;
  max-height: 10rem;
  overflow:hidden
}


.shootday-notes-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.shootday-notes {
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.shootday-notes-textarea{
  width:100%;
}

.shootday-notes-preview {
  white-space: pre-wrap;
}

/* .shootday-crewlist-table-container {
  
} */


/* CREWMEMBERS PAGE */
.crew-list-page-container {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew-list-body {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
}

.crew-filter-container {
  padding:1rem;
  margin-top:3rem;
  height:fit-content;
  width: 30%;
  border: var(--standard-border);
  border-radius:10px;
}

.crew-list-side {
  padding:1rem;
  width: 50%
}

.crew-list-container {
  max-height: 600px;
  overflow: auto;
  margin-top:1rem;
  border: var(--standard-border);
  border-top-left-radius: 2%;
}

.crew-list {
  margin-top:1rem;
  margin-bottom: 1rem;
  padding-left:0;
  list-style-type: none;
  /* list-style-position: outside; */
}

.crew-list :nth-child(2n+2) {
  background-color: #e6e7df;
}

.crew-list-item {
  padding: .5rem 0rem .5rem 3rem;
}

.crewmember-name {
  margin: 0
}
.add-crewmember-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-crewmember-container {
  max-width: 500px;
}

.add-crewmember-header {
  padding-bottom: 2rem;
}

.new-crewmember-submit-button {
  margin-top: 1rem;
  margin-right: 1rem;
}

/* Calendar Views */

.daygrid-event {
  border:#282c34 1px solid;
  color:#282c34;
}

.daygrid-event:hover {
  cursor: pointer;
}

.to-hire {
  font-size: small;
}


.fc-daygrid-day-bottom {
  height: 0em;
}
/* .fc-event-main > div  {
  overflow: hidden;
  font-size: 12px;
  margin-right: .5rem;
} */

.fc-event > div {
  overflow: hidden;
  font-size: 12px;
  margin-right: .5rem;
}

.fc-event > div >p {
  margin: 0rem;
}

.shootday-crewlist-name {
  display: flex;
  justify-content: space-between;
}

/* AssignCrewButton */
.assign-crew-search {
  width: 100%
}

.assign-crew-results-container {
  padding-top: 1rem;
}

.assign-crew-results {
  list-style-type: none;
  max-height: 220px;
  overflow: auto;
  margin-bottom: 0rem;
  border: var(--standard-border)
}

/* AddWorkdayModal */
.add-position-input {
  width: 3rem;
}


/* Components */

/* Search Crew dropdown */
.crew-list-search-dropdown {
  position: relative;
}

.crew-list-search-list {
  position:absolute;
  max-height: 150px;
  background:#dce0e8;
  width: 300px;
  overflow: auto;
  z-index: 1;
  list-style-type: none
}

.error-message {
  color:#f33;
  font-size: 14px;
  height: .5rem;
}



.note-box {
  width: 100%;

}

.notes-editing-button-row {
  display: flex;
  flex-direction: row;
  justify-content:right;
}

.notes-editing-button-row > i{
  margin-left:0.5rem;
}


.back-link {
  text-decoration: none;
  color:#ffffff;
  background-color:var(--navbar-green);
  border: var(--standard-border);
  border-radius: 5px;
  width:fit-content;
  padding: .5rem
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}